.panels-total .cart-total {
margin-left: 20px !important;
}
.grid-row-column-right-1::before {
left: 0;
width: 100vw
}

.grid-col-column-right-1-1 {
width: 100%;
margin-bottom: 20px
}

.grid-col-column-right-1-1 .grid-items {
justify-content: flex-start
}

.grid-item-column-right-1-1-1 {
width: 100%
}

.accordion-menu-126>.j-menu>li>a::before {
content: '\e93f' !important;
font-family: icomoon !important
}

.accordion-menu-126.accordion-menu .j-menu .dropdown>a>.count-badge {
margin-right: 5px
}

.accordion-menu-126.accordion-menu .j-menu .dropdown>a>.count-badge+.open-menu+.menu-label {
margin-left: 0
}

.accordion-menu-126.accordion-menu .j-menu .dropdown>a::after {
display: none
}

.accordion-menu-126.accordion-menu .j-menu>li>a {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
color: rgba(56, 68, 79, 1);
text-transform: uppercase;
padding: 10px;
padding-left: 0px
}

.desktop .accordion-menu-126.accordion-menu .j-menu>li:hover>a,
.accordion-menu-126.accordion-menu .j-menu>li.active>a {
color: rgba(0, 138, 221, 1)
}

.accordion-menu-126.accordion-menu .j-menu .links-text {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis
}

.accordion-menu-126.accordion-menu .j-menu>li>a::before {
color: rgba(53, 69, 100, 1);
margin-right: 8px;
min-width: 20px;
font-size: 18px
}

.accordion-menu-126.accordion-menu .j-menu a .count-badge {
display: inline-flex;
position: relative
}

.accordion-menu-126 .open-menu i::before {
content: '\eba0' !important;
font-family: icomoon !important;
font-size: 16px;
color: rgba(89, 96, 119, 1)
}

.accordion-menu-126 .accordion-menu-item:hover>a>.open-menu i::before {
color: rgba(231, 40, 77, 1) !important
}

.accordion-menu-126 .accordion-menu-item.open>a>.open-menu i::before {
color: rgba(46, 175, 35, 1)
}

.accordion-menu-126 .open-menu[aria-expanded='true'] i::before {
content: '\eb85' !important;
font-family: icomoon !important
}

.accordion-menu-126 .menu-item.open>a>.open-menu[aria-expanded='true'] i::before {
color: rgba(46, 175, 35, 1)
}

.accordion-menu-126.accordion-menu .j-menu .j-menu .dropdown>a>.count-badge {
margin-right: 5px
}

.accordion-menu-126.accordion-menu .j-menu .j-menu .dropdown>a>.count-badge+.open-menu+.menu-label {
margin-left: 0
}

.accordion-menu-126.accordion-menu .j-menu .j-menu .dropdown>a::after {
display: none
}

.accordion-menu-126.accordion-menu .j-menu .j-menu>li>a {
font-family: Helvetica, Arial, sans-serif;
font-weight: 400;
font-size: 14px;
color: rgba(116, 121, 140, 1);
text-transform: none;
padding: 8px
}

.accordion-menu-126.accordion-menu .j-menu .j-menu .links-text {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis
}

.accordion-menu-126.accordion-menu .j-menu .j-menu>li>a::before {
min-width: 10px;
font-size: 13px
}

.accordion-menu-126.accordion-menu .j-menu .j-menu>li>a,
.accordion-menu-126.accordion-menu .j-menu.accordion-menu .menu-item>a+div,
.accordion-menu-126.accordion-menu .j-menu .accordion-menu .menu-item>a+div {
border-style: none
}

.accordion-menu-126.accordion-menu .j-menu .j-menu a .count-badge {
display: none;
position: relative
}

.accordion-menu-126 .j-menu>li>div .j-menu>li>a {
padding-left: 10px !important
}

.accordion-menu-126 .j-menu>li>div .j-menu>li>div>.j-menu>li>a {
padding-left: 20px !important
}

.accordion-menu-126 .j-menu>li>div .j-menu>li>div>.j-menu>li>div>.j-menu>li>a {
padding-left: 30px !important
}

.accordion-menu-126 .j-menu>li>div .j-menu>li>div>.j-menu>li>div>.j-menu>li>div>.j-menu>li>a {
padding-left: 40px !important
}

.accordion-menu-126>.j-menu>li.accordion-menu-item>a::before {
min-width: 15px;
font-size: 14px !important;
margin-right: 0px
}
