/*.desktop .dropdown.dropdown .j-menu>li:hover>a,
.dropdown.dropdown .j-menu>li.active>a {
color: rgba(255, 255, 255, 1);
background: rgba(231,40,77, 1) !important;
}
*/

.fa-times-circle::before,
.fa-times::before,
.resetFilter::before,
.notification-close::before,
.popup-close::before,
.hn-close::before {
content: '\e5cd' !important;
font-family: icomoon !important
}

.panels-total .cart-total {
margin-left: 20px !important;
}

.desktop .search-categories.dropdown .j-menu>li:hover>a,
.search-categories.dropdown .j-menu>li.active>a {
color: rgba(255, 255, 255, 1);
background: rgba(231,40,77, 1)
}

.activeCat{
color:#008add !important;
}

.custmWidth{
width:25% !important;
}

.grid-row-column-left-1::before {
display: block;
left: 0;
width: 100vw
}

.grid-row-column-left-1 .wave-top {
display: block
}

.grid-row-column-left-1 .wave-bottom {
display: block
}

.grid-col-column-left-1-1 {
width: 100%;
margin-bottom: 20px
}

.grid-col-column-left-1-1 .grid-items {
justify-content: flex-start
}

.grid-item-column-left-1-1-1 {
width: 100%
}

.grid-col-column-left-1-2 {
width: 100%;
margin-bottom: 30px
}

.grid-col-column-left-1-2 .grid-items {
justify-content: flex-start
}

.grid-item-column-left-1-2-1 {
width: 100%
}

.grid-row-content-top-1::before {
display: block;
left: 0;
width: 100vw
}

.grid-row-content-top-1 {
margin-bottom: 40px
}

.grid-row-content-top-1 .wave-top {
display: block
}

.grid-row-content-top-1 .wave-bottom {
display: block
}

.grid-col-content-top-1-1 {
width: 100%
}

.grid-col-content-top-1-1 .grid-items {
justify-content: flex-start
}

.grid-item-content-top-1-1-1 {
width: 100%
}

.accordion-menu-19.accordion-menu>.j-menu>li.accordion-menu-item li>a::before {
content: '\e93f' !important;
font-family: icomoon !important;
font-size: 12px
}

.accordion-menu-19.accordion-menu .j-menu .dropdown>a>.count-badge {
margin-right: 5px
}

.accordion-menu-19.accordion-menu .j-menu .dropdown>a>.count-badge+.open-menu+.menu-label {
margin-left: 0
}

.accordion-menu-19.accordion-menu .j-menu .dropdown>a::after {
display: none
}

.accordion-menu-19.accordion-menu .j-menu>li>a {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
color: rgba(56, 68, 79, 1);
text-transform: uppercase;
padding: 10px;
padding-left: 0px
}

.desktop .accordion-menu-19.accordion-menu .j-menu>li:hover>a,
.accordion-menu-19.accordion-menu .j-menu>li.active>a {
color: rgba(0, 138, 221, 1)
}

.accordion-menu-19.accordion-menu .j-menu .links-text {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis
}

.accordion-menu-19.accordion-menu .j-menu>li>a::before {
color: rgba(53, 69, 100, 1);
margin-right: 8px;
min-width: 20px;
font-size: 18px
}

.accordion-menu-19.accordion-menu .j-menu a .count-badge {
display: inline-flex;
position: relative
}

.accordion-menu-19 .open-menu i::before {
content: '\eba0' !important;
font-family: icomoon !important;
font-size: 16px;
color: rgba(89, 96, 119, 1)
}

.accordion-menu-19 .accordion-menu-item:hover>a>.open-menu i::before {
color: rgba(231, 40, 77, 1) !important
}

.accordion-menu-19 .accordion-menu-item.open>a>.open-menu i::before {
color: rgba(46, 175, 35, 1)
}

.accordion-menu-19 .open-menu[aria-expanded='true'] i::before {
content: '\eb85' !important;
font-family: icomoon !important
}

.accordion-menu-19 .menu-item.open>a>.open-menu[aria-expanded='true'] i::before {
color: rgba(46, 175, 35, 1)
}

.accordion-menu-19.accordion-menu .j-menu .j-menu .dropdown>a>.count-badge {
margin-right: 5px
}

.accordion-menu-19.accordion-menu .j-menu .j-menu .dropdown>a>.count-badge+.open-menu+.menu-label {
margin-left: 0
}

.accordion-menu-19.accordion-menu .j-menu .j-menu .dropdown>a::after {
display: none
}

.accordion-menu-19.accordion-menu .j-menu .j-menu>li>a {
font-family: Helvetica, Arial, sans-serif;
font-weight: 400;
font-size: 14px;
color: rgba(116, 121, 140, 1);
text-transform: none;
padding: 8px
}

.accordion-menu-19.accordion-menu .j-menu .j-menu .links-text {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis
}

.accordion-menu-19.accordion-menu .j-menu .j-menu>li>a::before {
min-width: 10px;
font-size: 13px
}

.accordion-menu-19.accordion-menu .j-menu .j-menu>li>a,
.accordion-menu-19.accordion-menu .j-menu.accordion-menu .menu-item>a+div,
.accordion-menu-19.accordion-menu .j-menu .accordion-menu .menu-item>a+div {
border-style: none
}

.accordion-menu-19.accordion-menu .j-menu .j-menu a .count-badge {
display: none;
position: relative
}

.accordion-menu-19 .j-menu>li>div .j-menu>li>a {
padding-left: 10px !important
}

.accordion-menu-19 .j-menu>li>div .j-menu>li>div>.j-menu>li>a {
padding-left: 20px !important
}

.accordion-menu-19 .j-menu>li>div .j-menu>li>div>.j-menu>li>div>.j-menu>li>a {
padding-left: 30px !important
}

.accordion-menu-19 .j-menu>li>div .j-menu>li>div>.j-menu>li>div>.j-menu>li>div>.j-menu>li>a {
padding-left: 40px !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-1>a::before {
content: '\e921' !important;
font-family: icomoon !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-2>a::before {
content: '\e909' !important;
font-family: icomoon !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-3>a::before {
content: '\e971' !important;
font-family: icomoon !important;
left: 2px
}

.accordion-menu-19 .j-menu .accordion-menu-item-4>a::before {
content: '\e965' !important;
font-family: icomoon !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-5>a::before {
content: '\e966' !important;
font-family: icomoon !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-6>a::before {
content: '\eaf3' !important;
font-family: icomoon !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-7>a::before {
content: '\eabb' !important;
font-family: icomoon !important
}

.accordion-menu-19 .j-menu .accordion-menu-item-8>a::before {
content: '\e96d' !important;
font-family: icomoon !important
}

.resetFilter.btn,
.resetFilter.btn:visited {
font-size: 12px
}

.resetFilter.btn {
background: rgba(0, 138, 221, 1);
padding: 2px;
padding-right: 7px;
padding-left: 7px;
min-width: 20px;
min-height: 20px
}

.desktop .resetFilter.btn:hover {
box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.25)
}

.resetFilter.btn:active,
.resetFilter.btn:hover:active,
.resetFilter.btn:focus:active {
box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25)
}

.resetFilter.btn:focus {
box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25)
}

.resetFilter.btn.btn.disabled::after {
font-size: 20px
}

.resetFilter::before {
content: '\e5c9' !important;
font-family: icomoon !important;
margin-right: 3px
}

.mobile-filter-trigger.btn {
background: rgba(46, 175, 35, 1)
}

.mobile-filter-trigger.btn:hover {
background: rgba(0, 138, 221, 1) !important
}

.mobile-filter-trigger.btn.btn.disabled::after {
font-size: 20px
}

.mobile-filter-trigger::before {
content: '\e919' !important;
font-family: icomoon !important;
margin-right: 7px
}

.mobile-filter-trigger {
left: 50%;
right: auto;
transform: translate3d(-50%, 0, 0)
}

.module-filter-36 .panel-group .panel-heading a::before {
content: '\f067' !important;
font-family: icomoon !important;
margin-right: 7px;
order: -1
}

.module-filter-36 .panel-group .panel-active .panel-heading a::before {
content: '\f068' !important;
font-family: icomoon !important;
margin-right: 7px
}

.module-filter-36 .panel-group .panel-heading a {
justify-content: flex-start;
font-size: 15px;
color: rgba(69, 82, 94, 1);
font-weight: 700;
padding: 7px;
padding-left: 0px
}

.module-filter-36 .panel-group .panel-heading:hover a {
color: rgba(49, 56, 70, 1)
}

.module-filter-36 .panel-group .panel-heading {
background: none;
border-width: 0px;
border-color: rgba(255, 255, 255, 1);
border-radius: 0px
}

.module-filter-36 .panel-group .panel-heading:hover,
.module-filter-36 .panel-group .panel-active .panel-heading {
background: none
}

.module-filter-36 .panel-group .panel {
margin-top: 10px !important
}

.module-filter-36 .panel-group {
margin-top: -10px;
border-width: 0px
}

.module-filter-36 .panel-group .panel-body {
background: rgba(255, 255, 255, 1);
margin-top: 5px;
padding: 5px;
border-radius: 5px
}

.module-filter-36 .panel-group .panel-heading+.panel-collapse .panel-body {
border-width: 0px
}

.module-filter-36 .count-badge {
display: none
}

.module-filter-36 .extra-controls input {
background: rgba(255, 255, 255, 1) !important;
border-width: 1px !important;
border-style: solid !important;
border-color: rgba(221, 221, 221, 1) !important;
border-radius: 2px !important
}

.module-filter-36 .extra-controls input:focus {
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15)
}

.module-filter-36 .panel-body {
max-height: 250px;
overflow-y: auto
}

.module-filter-36 label img {
border-width: 1px;
border-style: solid;
border-color: rgba(221, 221, 221, 1)
}

.module-filter-36 label:hover img {
border-color: rgba(0, 138, 221, 1);
box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15)
}

.module-filter-36 label input:checked+img {
border-color: rgba(0, 138, 221, 1)
}

.module-filter-36 .image-only .panel-body>div>label {
padding: calc(7px / 2)
}

.module-filter-36 .irs-line {
transform: scaleY(.3);
;
background: rgba(49, 56, 70, 1)
}

.module-filter-36 .irs-bar {
transform: scaleY(.3);
;
background: rgba(0, 138, 221, 1)
}

.module-filter-36 .irs-line,
.module-filter-36 .irs-bar {
border-radius: 10px
}

.module-filter-36 .irs-slider {
background: rgba(0, 138, 221, 1);
border-radius: 50%;
box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
width: 15px;
height: 15px;
transform: translateY(5px)
}

.module-filter-36 .irs-slider:hover {
background: rgba(49, 56, 70, 1)
}

@media (max-width: 470px) {
.module-filter-36 .irs-slider {
width: 25px;
height: 25px;
transform: translateY(0px)
}
}

.module-filter-36 .module-item-a10 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a10 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a11 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a11 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a22 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a22 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-o1 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-o1 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-o1 {
order: 1
}

.module-filter-36 .module-item-o1 .count-badge {
display: inline-flex
}

.module-filter-36 .module-item-a12 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a12 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a23 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a23 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-c .panel-body>div>label input {
display: none
}

.module-filter-36 .module-item-c .panel-body>div>label input+* {
margin: 0
}

.module-filter-36 .module-item-c {
order: 0
}

.module-filter-36 .module-item-c .count-badge {
display: none
}

.module-filter-36 .module-item-o2 .panel-body>div>label input {
display: none
}

.module-filter-36 .module-item-o2 .panel-body>div>label input+* {
margin: 0
}

.module-filter-36 .module-item-o2 {
order: 1
}

.module-filter-36 .module-item-o2 .count-badge {
display: none
}

.module-filter-36 .module-item-a13 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a13 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a13 .count-badge {
display: inline-flex
}

.module-filter-36 .module-item-a14 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a14 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a15 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a15 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a26 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a26 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-o5 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-o5 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-o5 {
order: 1
}

.module-filter-36 .module-item-o5 .count-badge {
display: inline-flex
}

.module-filter-36 .module-item-a27 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a27 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-f1 .count-badge {
display: inline-flex
}

.module-filter-36 .module-item-m .panel-body>div>label input {
display: none
}

.module-filter-36 .module-item-m .panel-body>div>label input+* {
margin: 0
}

.module-filter-36 .module-item-m {
order: 0
}

.module-filter-36 .module-item-m .count-badge {
display: none
}

.module-filter-36 .module-item-o11 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-o11 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-o11 {
order: 1
}

.module-filter-36 .module-item-o11 .count-badge {
display: inline-flex
}

.module-filter-36 .module-item-p .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-p .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-p {
order: -10
}

.module-filter-36 .module-item-a1 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a1 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-q .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-q .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-q {
order: -1
}

.module-filter-36 .module-item-q .count-badge {
display: none
}

.module-filter-36 .module-item-a2 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a2 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a3 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a3 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a4 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a4 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-t .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-t .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-t .count-badge {
display: none
}

.module-filter-36 .module-item-a5 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a5 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a5 .count-badge {
display: none
}

.module-filter-36 .module-item-a7 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a7 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a8 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a8 .panel-body>div>label input+* {
margin: 0 5px
}

.module-filter-36 .module-item-a9 .panel-body>div>label input {
display: inline-block
}

.module-filter-36 .module-item-a9 .panel-body>div>label input+* {
margin: 0 5px
}

.module-blocks-262.blocks-grid .module-item.swiper-slide {
margin-right: 0px;
width: calc((100% - 0 * 0px) / 1 - 0.01px)
}

.module-blocks-262.blocks-grid .module-item:not(.swiper-slide) {
padding: 0px;
width: calc(100% / 1 - 0.01px)
}

.one-column #content .module-blocks-262.blocks-grid .module-item.swiper-slide {
margin-right: 0px;
width: calc((100% - 0 * 0px) / 1 - 0.01px)
}

.one-column #content .module-blocks-262.blocks-grid .module-item:not(.swiper-slide) {
padding: 0px;
width: calc(100% / 1 - 0.01px)
}

.two-column #content .module-blocks-262.blocks-grid .module-item.swiper-slide {
margin-right: 0px;
width: calc((100% - 0 * 0px) / 1 - 0.01px)
}

.two-column #content .module-blocks-262.blocks-grid .module-item:not(.swiper-slide) {
padding: 0px;
width: calc(100% / 1 - 0.01px)
}

.side-column .module-blocks-262.blocks-grid .module-item.swiper-slide {
margin-right: 0px;
width: calc((100% - 0 * 0px) / 1 - 0.01px)
}

.side-column .module-blocks-262.blocks-grid .module-item:not(.swiper-slide) {
padding: 0px;
width: calc(100% / 1 - 0.01px)
}

.module-blocks-262 .block-title {
order: -2
}

.module-blocks-262 .block-header {
display: flex;
float: none;
order: -1;
justify-content: flex-start;
align-items: flex-start
}

.module-blocks-262 .block-header img {
display: flex
}

.module-blocks-262 .block-wrapper {
display: flex
}

.module-blocks-262 .block-header i {
float: none;
display: flex
}

.module-blocks-262 .block-body {
display: flex;
flex-direction: column
}

.module-blocks-262 .module-item-1 .block-header {
margin-right: 20px;
margin-bottom: 10px;
margin-left: -60px
}

.module-blocks-262 .module-item-1 .expand-content {
overflow: hidden
}

.module-blocks-262 .module-item-1 .block-content {
column-count: initial;
column-gap: 20px;
column-rule-width: 1px;
column-rule-style: solid
}

.module-blocks-262 .module-item-1 .block-footer .btn {
width: auto;
background: rgba(49, 56, 70, 1);
padding: 10px;
border-radius: 2px !important;
transform: scale(calc(100 / 100));
transform-origin: center
}

.module-blocks-262 .module-item-1 .block-footer {
text-align: center
}

.module-blocks-262 .module-item-1 .block-footer .btn,
.module-blocks-262 .module-item-1 .block-footer .btn:visited {
font-size: 13px;
color: rgba(255, 255, 255, 1)
}

.module-blocks-262 .module-item-1 .block-footer .btn:hover {
color: rgba(255, 255, 255, 1) !important;
background: rgba(0, 138, 221, 1) !important
}

.module-blocks-262 .module-item-1 .block-footer .btn:active,
.module-blocks-262 .module-item-1 .block-footer .btn:hover:active,
.module-blocks-262 .module-item-1 .block-footer .btn:focus:active {
color: rgba(245, 245, 245, 1) !important;
background: rgba(9, 132, 207, 1) !important;
box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15)
}

.module-blocks-262 .module-item-1 .block-footer .btn:focus {
color: rgba(255, 255, 255, 1) !important;
background: rgba(0, 138, 221, 1);
box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25)
}

.desktop .module-blocks-262 .module-item-1 .block-footer .btn:hover {
box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15)
}

.module-blocks-262 .module-item-1 .block-footer .btn.btn.disabled::after {
font-size: 20px
}

@media (max-width: 470px) {
.module-blocks-262 .module-item-1 .block-header {
margin-right: 0px;
margin-left: 0px
}
}